:root {
  --foreground: #141414;
}

body {
  background: #fffaf3;
  color: #141414;

  font-family: 'Noto Sans KR', sans-serif;
}

.text-subduded {
  color: #6d6e70;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0,0,0, 0.5);

  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.popup.popup-enter {
  background-color: rgba(0,0,0,0);
}
.popup.popup-enter-active {
  background-color: rgba(0,0,0, 0.5);
  transition: background-color 300ms;
}

.popup.popup-exit {
  background-color: rgba(0,0,0,0.5);
}
.popup.popup-exit-active {
  background-color: rgba(0,0,0,0);
  transition: background-color 300ms 200ms;
}

.popup-content {
  background: #ffffff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,.1);
}

.popup-enter .popup-content {
  opacity: 0;
  transform: translateY(300px);
}
.popup-enter-active .popup-content {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 500ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.popup-exit .popup-content {
  opacity: 1;
  transform: translateY(0);
}
.popup-exit-active .popup-content {
  opacity: 0;
  transform: translateY(300px);
  transition: opacity 300ms 200ms, transform 500ms cubic-bezier(0.36, 0, 0.66, -0.56);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: white;
  }

  body {
    background: #0b0400;
    color: white;
  }

  .text-subduded {
    color: #aaaaaa;
  }

  .popup-content {
    background: #202020;
  }
}


.btn, .btn-active, .btn-focus {
  outline: none!important;
  box-shadow: none!important;
}